.recipe-box {
  border-radius: 0.5rem;
  text-align: center;
  background-color: #6b728033;
  color: var(--text-color);

  display: flex;
  gap: 0.5rem;
  height: 100%;
  flex-direction: column;
}

.recipe-box:hover {
  transform: scale(1.05);
  background-color: #6b72804d;
}

.image-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  min-height: 7rem;
  width: 100%;
}

.image-container img {
  transform: scale(1.25);
  max-width: 100%;
  height: auto;
  display: block;
}

.recipe-box .title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin: 0;
  height: 1rem;
  overflow: hidden;
}

.recipe-box .recipe-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.recipe-box .recipe-info .calories-info {
  /* my-1 gap-1 flex flex-row justify-center font-extralight text-xs */
  font-weight: 200;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.25rem;
}

.recipe-box p.important {
  font-style: italic;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.recipe-box .vertical-separator {
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  background-color: var(--text-color);
}

.recipe-box .horizontal-separator {
  width: 1px;
  border: none;
  margin-left: 0.3rem;
  height: 80%;
  background-color: var(--text-color);
}

.recipe-box p {
  margin: 0;
}

/* -z-1 overflow-hidden rounded-t-lg  w-full */
