.swap-button {
    box-sizing: border-box;
    z-index: 100;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    padding: 0;
}

.swap-button svg {
   fill: var(--text-color);
   height: 3em;
}