:root {
  --background-color: #fff;
  --surface-color: #f2f2f2;
  --primary-color: #d2d5d8;
  --pirmary-color-hover: #c6c8ca;
  --accent-color: #1fb2a5;
  --text-color: #676767;
  --link-color: #543fd7;
}

html[data-theme="light"] {
  --background-color: #fff;
  --surface-color: #f2f2f2;
  --primary-color: #d2d5d8;
  --pirmary-color-hover: #c6c8ca;
  --text-color: #3b3d40;
  --link-color: #543fd7;
}

html[data-theme="dark"] {
  --surface-color: #393646;
  --background-color: #4f4557;
  --primary-color: #373d48;
  --pirmary-color-hover: #3d454f;
  --text-color: #f2f2f2;
  --link-color: #828fff;
}
